.laoder {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 4;
  min-width: 100%;
  min-height: 100%;
  background: #eaeaea;
  animation: laoder 0.2s forwards;
  animation-delay: 3s;
  &__text {
    position: relative;
    font-size: 15vh;
    color: white;
    font-family: Shrikhand;
    &::before {
      content: attr(data-text);
      position: absolute;
      color: #9356dc;
      width: 350px;
      overflow: hidden;
      white-space: nowrap;
      border-right: 4px solid #9356dc;
      animation: animate 3s linear;
      filter: brightness(130%) drop-shadow(0 0 20px #9256dccb)
        drop-shadow(0 0 50px #9256dc85);
    }
  }
}
