.presentation {
  background: $color-back-2;
  text-align: center;
  h1 {
    padding: 25px 60px 15px 60px;
  }
  p {
    margin: 0px 30px;
  }
  .btn {
    margin: 30px auto 70px;
  }
}
